# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# ML / Data Artifacts
# =========================
data/
models/
mlruns/
mlflow.db

# =========================
# Logs & Outputs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Temporary / Misc
# =========================
*.tmp
*.bak
